<html>
    <body>
        <h1>JWT토큰내 JSON데이터 확인하기</h1>

        사용자번호: <%=jsonData.userNo%><br/>
        사용자아이디: <%=jsonData.userId%><br/>
        이름: <%=jsonData.userName%><br/>
        이메일: <%=jsonData.userEmail%><br/>
        전화번호: <%=jsonData.telephone%><br/>
    </body>
</html>